In [4]:
import pandas as pd

In [5]:
stats = pd.read_csv("player_mvp_stats.csv")

In [6]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Doc Rivers,PG,29,ATL,79,79,32.7,5.6,12.9,...,0.0,0.000,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
1,1,Dominique Wilkins,SF,31,ATL,81,81,38.0,9.5,20.2,...,960.0,0.030,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
2,2,Duane Ferrell,SF,25,ATL,78,2,14.9,2.2,4.6,...,0.0,0.000,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
3,3,Gary Leonard,C,23,ATL,4,0,2.3,0.0,0.0,...,0.0,0.000,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
4,4,John Battle,SG,28,ATL,79,2,23.6,5.0,10.9,...,0.0,0.000,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,14087,Raul Neto,PG,28,WAS,64,22,21.9,3.3,7.0,...,0.0,0.000,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85
14088,14088,Robin Lopez,C,32,WAS,71,9,19.1,3.8,6.0,...,0.0,0.000,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85
14089,14089,Rui Hachimura,PF,22,WAS,57,57,31.5,5.4,11.4,...,0.0,0.000,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85
14090,14090,Russell Westbrook,PG,32,WAS,65,65,36.4,8.4,19.0,...,1010.0,0.005,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85
14091,14091,Thomas Bryant,C,23,WAS,10,10,27.1,5.9,9.1,...,0.0,0.000,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85

In [7]:
del stats["Unnamed: 0"]

In [9]:
pd.isnull(stats).sum

<bound method DataFrame.sum of        Player    Pos    Age     Tm      G     GS     MP     FG    FGA    FG%  \
0       False  False  False  False  False  False  False  False  False  False
1       False  False  False  False  False  False  False  False  False  False
2       False  False  False  False  False  False  False  False  False  False
3       False  False  False  False  False  False  False  False  False   True
4       False  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
14087   False  False  False  False  False  False  False  False  False  False
14088   False  False  False  False  False  False  False  False  False  False
14089   False  False  False  False  False  False  False  False  False  False
14090   False  False  False  False  False  False  False  False  False  False
14091   False  False  False  False  False  False  False  False  False  False

       ...  Pts Max  Share   Team      W      L   W/L%     GB   PS/G   PA/G  \
0      ...    False  False  False  False  False  False  False  False  False
1      ...    False  False  False  False  False  False  False  False  False
2      ...    False  False  False  False  False  False  False  False  False
3      ...    False  False  False  False  False  False  False  False  False
4      ...    False  False  False  False  False  False  False  False  False
...    ...      ...    ...    ...    ...    ...    ...    ...    ...    ...
14087  ...    False  False  False  False  False  False  False  False  False
14088  ...    False  False  False  False  False  False  False  False  False
14089  ...    False  False  False  False  False  False  False  False  False
14090  ...    False  False  False  False  False  False  False  False  False
14091  ...    False  False  False  False  False  False  False  False  False

         SRS
0      False
1      False
2      False
3      False
4      False
...      ...
14087  False
14088  False
14089  False
14090  False
14091  False

[14092 rows x 41 columns]>

In [11]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                 Player  FTA
72          Tom Hovasse  0.0
87          Tim Kempton  0.0
89       Anthony Miller  0.0
148          Andy Panko  0.0
155          Ira Bowman  0.0
...                 ...  ...
14021    Devin Robinson  0.0
14039    Gary Payton II  0.0
14045       Okaro White  0.0
14068   Justin Robinson  0.0
14076  Anžejs Pasečņiks  0.0

[462 rows x 2 columns]

In [12]:
stats = stats.fillna(0)

NameError: name 'fillna' is not defined